<launch>
  <arg name="gazebo" default="false" />
  <arg name="run_rviz" default="false" />

  <group if="$(arg gazebo)">
    <include file="$(find deco_with_fetch)/launch/gazebo/deco_scene.launch">
    </include>
    <!-- Spawn models into gazebo -->
    <node name="spawn_demo_cube_yellow" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find deco_with_fetch)/models/demo_cube_yellow/model.sdf -sdf
                -x -1.3 -y 0.0 -z 0.8 -model demo_cube_yellow" />
    <node name="spawn_demo_cube_red" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find deco_with_fetch)/models/demo_cube_red/model.sdf -sdf
                -x -1.3 -y 0.5 -z 0.8 -model demo_cube_red" />
    <node name="spawn_demo_cube_green" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find deco_with_fetch)/models/demo_cube_green/model.sdf -sdf
                -x -1.3 -y -0.5 -z 0.8 -model demo_cube_green" />
  </group>

  <group if="$(arg run_rviz)">
    <node pkg="rviz" name="fetch_rviz" type="rviz"
          args="-d $(find deco_with_fetch)/config/deco.rviz" />
  </group>
  
</launch>
